# Wildcards
*.8
*.a
*.ao
*.d
*.dSYM
*.db
*.dll
*.dylib
*.exp
*.lib
*.lnk
*.ncb
*.o
*.obj
*.opendb
*.opendf
*.opensdf
*.opt
*.out
*.pc
*.pdb
*.plg
*.pyc
*.s
*.sdf
*.so
*.suo
*.tgz
*.user
*.vcproj.*.*.user
*.vcxproj.user
*.war
*_debug
*_release
cygicudata*
libicu*
libicutest*
libsicu*
libsicutest*
output-*.cpp
perf-*.xml
test-*.xml

# Directories
.settings/
.vs/
.vscode/
ARM/
ARM64/
Debug/
Generated[!!-~]Files/
Generated/
Release/
__pycache__/
arm/
arm64/
bin/
debug/
doc/
lib/
out/
release/
tmp/
x64/
x86/

# Files
.project
.classpath
Makefile
Makefile.local
build-local.properties
icupkg.inc
ipch
pkgdata.inc
pkgdataMakefile
rules.mk

# Directory specific wildcards
# (none yet, see ICU .gitignore for examples)

# Specific file names
# (none yet, see ICU .gitignore for examples)

.DS_Store
/output
/cldr
