input {
  width:100%;
  max-width:40em;
}
.tail {
  display: inline-block;
  padding-left: 2em;
  text-indent: -2em;
  box-sizing: border-box;
}
.head {
  display: inline-block;
  padding-left: 1em;
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
}
tr.entry .location {
  float: right;
}
tr.subentry .location {
  padding-left: 2em;
}
td.entry-text {
  width: 27em;
  max-width: 27em;
  vertical-align: top;
}
td.ranges {
  width: 7em;
  max-width: 7em;
  text-align: right;
  white-space: nowrap;
  vertical-align: bottom;
  font-family: monospace;
}
td.characters {
  max-width: 16ic;
  vertical-align: bottom;
}
td.ranges.rs-entry {
  vertical-align: top;
}
td.characters.rs-entry {
  vertical-align: top;
}
table {
  border-collapse: collapse;
}