table       { 
    border-spacing: 0; 
    border-collapse: collapse;
    border-style: solid; 
    border-color: white; 
    border-width: 0px;
    width: 100%;
}
th, td      { 
    border-spacing: 0; 
    border-style: solid; 
    border-color: white; 
    border-width: 0px;
    vertical-align: top;
    font-family: "Symbola",Georgia,"Times New Roman",Serif;
}
td.new, td.cellwnew, td.cellnew {
    background-color: #FFFFCC;
}
td.c {
    text-align: Center;
    width: 1li;
}
span.name {
    font-family: san-serif;
    text-transform: uppercase;
    #font-variant: small-caps;
}
td.comment {
    font-style: italic;
}
h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
