name: Build JSP

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check out CLDR
      uses: actions/checkout@v2
      with:
        repository: unicode-org/cldr
        path: cldr
    - name: Backup Unicodetools and CLDR for jsps  # this is needed only for the Docker build
      run:
        mkdir -p UnicodeJsps/target && tar cfpz UnicodeJsps/target/cldr-unicodetools.tgz ./cldr ./unicodetools
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    # TODO: move this DOWN after JSPs once it works
    - name: Generate Unicode data
      # TODO: hard coded version
      # TODO: symlink of security here?
      run: >
        mkdir -pv $(pwd)/output/Generated/ &&
        mvn -s .github/workflows/mvn-settings.xml -B compile exec:java
        -Dexec.mainClass="org.unicode.text.UCD.Main" -Dexec.args="version 15.0.0 build MakeUnicodeFiles"
        -am -pl unicodetools -DCLDR_DIR=${GITHUB_WORKSPACE}/cldr
        -DUNICODETOOLS_REPO_DIR=$(pwd) -DUVERSION=15.0.0
        -DUNICODETOOLS_GEN_DIR=$(pwd)/output/Generated
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Run unicodetools tests
      run: >
        mvn -s .github/workflows/mvn-settings.xml -B test -am -pl unicodetools
        -DCLDR_DIR=${GITHUB_WORKSPACE}/cldr -T 1C -Dparallel=classes -DUNICODETOOLS_REPO_DIR=$(pwd) -DUVERSION=15.0.0 -DUNICODETOOLS_GEN_DIR=$(pwd)/output/Generated
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Package JSPs
      run: >
        mvn -s .github/workflows/mvn-settings.xml -B -am -pl UnicodeJsps package -DCLDR_DIR=${GITHUB_WORKSPACE}/cldr
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload UnicodeJsps.war
      uses: actions/upload-artifact@v2
      with:
        name: UnicodeJsps
        path: UnicodeJsps/target/UnicodeJsps.war
    - name: build docker image
      run: cd UnicodeJsps && bash update-bidic-ucd.sh && docker build .

